/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
# Arquivos e pastas do Docker
/.docker
.docker/mysql/dbdata/
/docker
/docker-compose.override.yml
/docker-compose.local.yml
/.dockerenv
/.dockerignore
*.pid
*.log

# Volumes e dados temporários
docker-data/
docker-volumes/
mysql-data/
.docker/mysql/dbdata/
